.delauney-font {
  font-family: "Delauney", sans-serif;
}
.calendly-div {
  height: 100vh;
  padding: 0;
}
.calendly-inline-widget {
  width: 100%;
  height: 84%;
}
.bg-turquoise {
  background-color: turquoise;
}
.bg-darker {
  background-color: #f7f7f7;
}
.background-image {
  background: linear-gradient(
      201deg,
      rgba(85, 82, 82, 0.462) 0%,
      rgb(55, 51, 51) 100%
    ),
    url("/profesores-ingles-online.jpeg");
  height: 100vh;
}
@font-face {
  font-family: "Delauney";
  src: url("../fonts/delauney.woff") format("truetype");
}
.transform-title {
  text-transform: uppercase;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
html {
  position: relative;
  min-height: 100%;
  background-color: #f7f7f7;
}
